.tr-link:hover { 
    cursor: pointer; 
}
.background{
    background-image: url('background.jpg');
    background-repeat: repeat;
}
.masthead.segment {
    min-height: 700px;
    padding: 1em 0em;
}
.masthead .logo.item img {
    margin-right: 1em;
}
.masthead .ui.menu .ui.button {
    margin-left: 0.5em;
}
.masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
}
.masthead h2 {
    font-size: 1.7em;
    font-weight: normal;
}

.ui.vertical.stripe h3 {
    font-size: 2em;
}
.ui.vertical.stripe .button + h3,
.ui.vertical.stripe p + h3 {
    margin-top: 3em;
}
.ui.vertical.stripe p {
    font-size: 1.33em;
}
.secondary.tabular.menu .toc.item {
    display: none;
}
.chat-box {
    height: 379px;
    overflow-y: scroll;
}
@media only screen and (max-width: 700px) {
    .secondary.tabular.menu .item,
    .secondary.tabular.menu .menu {
        display: none;
    }
    .secondary.tabular.menu .toc.item {
        display: block;
    }
    .masthead.segment {
        min-height: 350px;
    }
    .masthead h1.ui.header {
        font-size: 2em;
        margin-top: 1.5em;
    }
    .masthead h2 {
        margin-top: 0.5em;
        font-size: 1.5em;
    }
}