@import url(http://fonts.googleapis.com/css?family=Roboto:300); 
.panel{
  position: absolute;top: 0;bottom: 0;left: 0;right: 0;
  width: 600px; 
  height: 140px;
  padding: 50px;
  margin: auto;
  border-radius: 5px;
  text-align: center;
  background: #D5AC80; 
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
}
.wrap{ 
  position: relative;
  overflow: hidden;
  z-index: 0;  
  background: #fff;
  box-shadow: -1px -1px 1px rgba(0,0,0,.4),
              1px 1px 1px rgba(255,255,255,.4);
}
.wrap:after,
.wrap:before{
  content: '';
  display: block;
  position: absolute;
  top: 0;left: 0;
  overflow: hidden;
  line-height: 44px;
  color:rgba(255,255,255,.3);
  font-size: 20px;
  width: 100%;height: 50%;
  background: #000;
  z-index: 1;
  box-shadow: 1px 1px 100px rgba(255,255,255,1), inset  1px 1px 60px rgba(255,255,255,.4);
  transition:.3s all;
  -webkit-transition:.3s all;
  -webkit-transform:translate3d(0,0,0);
  transform:translate3d(0,0,0);
}
.wrap:before{
  top: auto;
  bottom: 0;
  line-height: 0px;
}
.wrap:hover:after{
  top: -50%;
}
.wrap:hover:before{
  bottom: -50%;
}
input{
  width: 100%;
  height: 44px;
  padding: 0 65px 0 10px;
  font-size: 16px;
  border:0;
  box-shadow: inset 1px 1px 11px rgba(0,0,0,.3);  
} 
input:focus { 
  outline: none; 
}
button{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 35px;
  cursor: pointer;
}

html{ height: 100%; margin: 0; padding: 0;font-family: 'Roboto', sans-serif;}
body{ 
  margin: 0;padding: 50px 0 0 0; 
  background: #cfe7fa;
background: -moz-radial-gradient(center, ellipse cover,  #cfe7fa 0%, #6393c1 100%);
background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#cfe7fa), color-stop(100%,#6393c1));
background: -webkit-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#6393c1 100%);
background: -o-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#6393c1 100%);
background: -ms-radial-gradient(center, ellipse cover,  #cfe7fa 0%,#6393c1 100%);
background: radial-gradient(ellipse at center,  #cfe7fa 0%,#6393c1 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfe7fa', endColorstr='#6393c1',GradientType=1 );

}
body *,body *:before, body *:after{  box-sizing: border-box; }
.right-eye,.left-eye{
  position: absolute;
  width: 61px;
  height: 61px;
  position: absolute;
  top: 19px;
  background: #fff;
  border-radius:50%;
  overflow: hidden;
  box-shadow: 0px 0 1px #fff, inset 0 0 15px rgba(0,0,0,.4);
}
.right-eye {
  left: 127px;
}
.left-eye {
  left: 50px;
}
.eye span{
  position: absolute;
  display: block;
  background: #000;
  border-radius:13px;
  width: 26px;
  height:26px; 
  left: 0;
  top:8px;
}
h5{
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #777;
}