<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src = "static/jquery.min.js"></script>
    <script src = "static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/bootstrap.min.css" type="text/css" />
    <title>login</title>
</head>
<body>
    <h1>Room is {{room}}</h1> <br/>
    <but_ton id = "but_0" type="but_ton" class="btn btn-primary" onclick="login(0)"> log Red</but_ton> <br/>
    <but_ton id = "but_1" type="but_ton" class="btn btn-primary" onclick="login(1)"> log Green</but_ton> <br/>
    <but_ton id = "but_2" type="but_ton" class="btn btn-primary" onclick="login(2)"> log Blue</but_ton> <br/>
    <but_ton id = "but_3" type="but_ton" class="btn btn-primary" onclick="login(3)"> log Yellow</but_ton> <br/>
    <script>
        for(var i  = 0 ; i < 4 ; i ++){
            if(({{sta}}>>i) & 1) $("#but_"+i).hide();
        }
        function login(x) {
            window.location.href = 'http://' + document.domain + ':' + location.port + '/{{room}}/play/' + x;
        }
    </script>
</body>
</html>