<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src = "static/jquery.min.js"></script>
    <script src = "static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="static/bootstrap.min.css" type="text/css" />
    <title>login</title>
</head>
<body>
    <h1>Please choice a room</h1> <br/>
    <div class="col-lg-6">
            <div class="input-group"  style="width:30%">
                <input id = "input" type="text" class="form-control">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" onclick="tryrom()">
                        Go!
                    </button>
                </span>
            </div>
    </div>

    <script>
        function tryrom() {
            window.location.href = 'http://' + document.domain + ':' + location.port + '/' + $("#input").val();
        }
    </script>
</body>
</html>

