<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='login.css')}}"/>
</head>  
<body>  
    <div id="login">  
        <h1>Register</h1>
        <form method="post">  
            <input type="text" required="required" placeholder="用户名" name="u"></input>  
            <input type="password" required="required" placeholder="密码" name="p"></input>
            <input type="password" required="required" placeholder="确认密码" name="cp"></input>
            <button class="but" type="submit">注册</button>
            <div style="text-align:center;">
                </br>
            </div>
        </form>  
    </div>  
    <div> {{message}} </div>
</body>  
</html>  