{% extends "Base.html" %}

{% block head %}

<div class="ui center aligned container">
    <h1>制作团队</h1>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui hidden divider"></div>
    <div class="ui stackable grid two column">
        <div class="column">
            <div class="ui two column grid">
                <div class="ui right aligned column">
                    <h2>设计: QAQ</h2>
                    <h2>UI: QAQ</h2>
                    <h2>前端: QAQ</h2>
                    <h2>DBA: QAQ</h2>
                </div>
                <div class="ui left aligned column">
                    <h2>后端: QAQ</h2>
                    <h2>运维: QAQ</h2>
                    <h2>架构: QAQ</h2>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="ui two column grid">
                <div class="ui right aligned six wide column">
                    <h2>产品经理:</h2>
                    <h2>(排名不分先后)</h2>
                </div>
                <div class="ui left aligned ten wide column">
                    <h2>QAQ, zouxin, ZJiaQ, cdcq,</h2>
                    <h2>Dicint, Rylynnn, ChouUn, Jove,</h2>
                    <h2>Takio, MeiK, xfause, Chs,</h2>
                    <h2>大鼋, FrogAC, 九十九遊紛, 栗子</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="ui divider"></div>
<div class="ui center aligned container basic segment grid">
    <div class="row">
        <h1>统计数据</h1>
    </div>
    <div class="ui statistics">
        <div class="statistic">
            <div class="value">
                {{user_number}}
            </div>
            <div class="label">用户总数</div>
        </div>
        <div class="statistic">
            <div class="value">
                {{battle_number}}
            </div>
            <div class="label">对局总数</div>
        </div>
    </div>
</div>

{% endblock %}

{% block content %}
{% endblock %}