<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>Blokus</title>
    <script src="static/jquery/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/semantic-ui/semantic.min.css">
    <script src="static/semantic-ui/semantic.min.js"></script>
    <script src="static/jquery/js.cookie.js"></script>
    <script src='static/vue/vue.js'></script>
    <script src="static/vue/vue-component.js?v=2.2"></script>
    <link rel="stylesheet" type="text/css" href="static/base/base.css?v=2.2">
    <link rel="shortcut icon" href="static/favicon.ico">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116734412-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116734412-1');
    </script>

    <script>
        function Callback(url, method, form, message, on_success) {
            return function () {
                form.addClass("loading")
                var res = false
                data = form.form('get values')

                if (data.register_password !== undefined)
                    data.password = data.register_password
                if (data.old_password !== undefined)
                    data.password = data.old_password
                if (data.new_password !== undefined)
                    data.password = data.new_password
                if ("undefined" !== typeof (token))
                    data.token = token

                $.ajax({
                    type: method,
                    url: url,
                    data: JSON.stringify(data),
                    contentType: 'application/json; charset=UTF-8',
                    async: false,
                    success: function (data) {
                        form.removeClass("loading")
                        console.log(data)
                        if (data.message == "success") {
                            form.addClass("success")
                            on_success(data)
                            res = true
                        } else {
                            form
                                .removeClass("success")
                                .addClass("error")
                            message.text(data.message)
                        }
                    },
                    error: function (data) {
                        console.log(data)
                        form
                            .removeClass("loading")
                            .removeClass("success")
                            .addClass("error")
                        message.text("请求失败")
                    }
                })
                return res
            }
        }
        $(document).ready(function () {
            user_item = new Vue({
                el: "#user_item",
                data: {
                    user: {{ current_user.dump() | tojson | safe }}
                }
            });
            $('.ui.sidebar').sidebar('attach events', '.toc.item');
            $('.ui.modal').modal({
                duration: 300,
                transition: 'horizontal flip'
            })
            $('.ui.dropdown').dropdown({
                action: 'hide'
            })
            $.fn.form.settings.rules.not_used = function (value, type) {
                var data = {}
                data[type] = value
                var result = false
                $.ajax({
                    type: "get",
                    url: "/api/users",
                    data: {
                        query: JSON.stringify(data)
                    },
                    contentType: 'application/json; charset=UTF-8',
                    async: false,
                    success: function (data) {
                        result = data.message == "success" &&
                            data.result.length === 0
                    }
                })
                return result
            }
            $.fn.form.settings.rules.used = function (value, type) {
                var data = {}
                data[type] = value
                var result = false
                $.ajax({
                    type: "get",
                    url: "/api/users",
                    data: {
                        query: JSON.stringify(data)
                    },
                    contentType: 'application/json; charset=UTF-8',
                    async: false,
                    success: function (data) {
                        result = data.message == "success" &&
                            data.result.length !== 0
                    }
                })
                return result
            }
            $('#login_form').form({
                fields: {
                    email: {
                        identifier: 'email',
                        rules: [{
                                type: 'empty',
                                prompt: '邮箱不能为空'
                            },
                            {
                                type: 'email',
                                prompt: '邮箱格式不正确'
                            }
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [{
                            type: 'empty',
                            prompt: '密码不能为空'
                        }]
                    }
                },
                onSuccess: Callback(
                    "/api/users/online",
                    "POST",
                    $("#login_form"),
                    $("#login_message"),
                    function (data) {
                        user_item.user = Object.assign(user_item.user, data.result)
                        $('#login').modal('hide')
                        show_message("登录成功")
                    }
                )
            })
            $('#email_form').form({
                fields: {
                    email: {
                        identifier: 'email',
                        rules: [{
                                type: 'empty',
                                prompt: '邮箱不能为空'
                            },
                            {
                                type: 'email',
                                prompt: '邮箱格式不正确'
                            },
                            {
                                type: 'not_used[email]',
                                prompt: '该邮箱已被使用'
                            }
                        ]
                    }
                },
                onSuccess: Callback(
                    "/api/register",
                    "POST",
                    $("#email_form"),
                    $("#email_message"),
                    function (data) {
                        $('#email_notify').modal("show")
                    }
                )
            })
            $('#reset_form').form({
                fields: {
                    email: {
                        identifier: 'email',
                        rules: [{
                                type: 'empty',
                                prompt: '邮箱不能为空'
                            },
                            {
                                type: 'email',
                                prompt: '邮箱格式不正确'
                            },
                            {
                                type: 'used[email]',
                                prompt: '该邮箱未被注册'
                            }
                        ]
                    }
                },
                onSuccess: Callback(
                    "/api/password_resetter",
                    "POST",
                    $("#reset_form"),
                    $("#reset_message"),
                    function (data) {
                        $('#reset_notify').modal("show")
                    }
                )
            })
        });

        function check_login() {
            if (user_item.user.user_id === -1) {
                $("#login_message").text("请先登录")
                $("#login_form").addClass("error")
                $('#login').modal("show")
                return false
            }
            return true
        }
    </script>
</head>

<body>
    <div class="ui vertical inverted sidebar menu">
        <a class="active item" href='/'>主页</a>
        <a class="item" href="/battles">在线对局</a>
        <a class="item" href="/rank-list">用户排名</a>
        <a class="item" href="/about"> 关于</a>
    </div>

    <div class="ui inline cookie nag" id='hit_nag'>
        <span class='title' id="hit_nag_message">
            Empty
        </span>
        <i class="close icon"></i>
    </div>
    <div class="pusher">
        <div class="masthead segment background">
            <div class="ui vertical masthead aligned segment">
                <div class="ui container">
                    <div class="ui large secondary tabular menu">
                        <a class="toc item">
                            <i class="sidebar icon"></i>
                        </a>
                        <a class="item" href="/">
                            <img class="ui avatar image" src="static/favicon.ico"> 主页
                        </a>
                        <a class="item" href="/battles">在线对局</a>
                        <a class="item" href="/rank-list">用户排名</a>
                        <a class="item" href="/about">关于</a>
                        <div class="right item">
                            <user-item id="user_item" :user="user"></user-item>
                        </div>
                    </div>
                </div>
                {% block head %} {% endblock %}
            </div>
        </div>
        {% block content %} {% endblock %}
        <div class="ui vertical footer segment inverted ">
            <div class="ui container">
                <div class="ui stackable divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui header inverted">Powered By</h4>
                        <div class="ui inverted list">
                            <a class="item link" href="http://www.pixijs.com/">
                                <i class="cogs icon"></i>
                                PixiJS</a>
                            <a class="item link" href="https://semantic-ui.com/">
                                <i class="stripe s icon"></i>
                                Semantic UI</a>
                            <a class="item link" href="https://vuejs.org/">
                                <i class="vuejs icon"></i>
                                Vue</a>
                            <a class="item link" href="http://flask.pocoo.org/">
                                <i class="server icon"></i>
                                Flask</a>
                            <a class="item link" href="https://www.mongodb.com/">
                                <i class="database icon"></i>
                                MongoDB</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui header inverted">About</h4>
                        <div class="ui inverted list">
                            <a class="item link" href="https://github.com/QAsQ/Blokus">
                                <i class="github icon"></i> Github
                            </a>
                            <div class="item">© 2018 QAsQ</div>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Connect Us</h4>
                        <div class="ui list">
                            <div class="item">
                                <i class="qq icon"></i> Blokus玩家群: 97257869</div>
                                <img src="static/base/QQgroup.jpg" class="ui small bordered image">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="ui mini modal" id="login">
        <div class="ui header">
            <i class="teal sign in icon"></i>
            <div class="content"> 登录 Blokus </div>
        </div>
        <form class="ui form" id="login_form" action="javascript:void(0)">
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="text" name="email" placeholder="邮箱">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="password" placeholder="密码">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">登录</div>
            </div>
            <div class="ui error message" id='login_message'></div>
        </form>
        <div class="ui message">
            <p> 还没有账号？
                <a href="javascript:void(0)" onclick="$('#email').modal('show')">点此注册</a>
            </p>
            <p> 忘记密码？
                <a href="javascript:void(0)" onclick="$('#reset').modal('show')">点此重置</a>
            </p>
        </div>
    </div>

    <div class="ui mini modal" id="email">
        <div class="ui header">
            <i class="teal add user icon"></i>
            <div class="content"> 注册账号 </div>
        </div>
        <form class="ui form" id='email_form' action="javascript:void(0)">
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="text" name="email" placeholder="邮箱">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">发送验证邮件</div>
            </div>
            <div class="ui error message" id="email_message"></div>
        </form>
        <div class="ui message">
            已有账号？
            <a href="javascript:void(0)" onclick="$('#login').modal('toggle')">点此登陆</a>
        </div>
    </div>

    <div class="ui mini modal" id="reset">
        <div class="ui header">
            <i class="teal lock icon"></i>
            <div class="content"> 重置密码</div>
        </div>
        <form class="ui form" id='reset_form' action="javascript:void(0)">
            <div class="ui segment">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="mail icon"></i>
                        <input type="text" name="email" placeholder="邮箱">
                    </div>
                </div>
                <div class="ui fluid large teal submit button">重置密码</div>
            </div>
            <div class="ui error message" id="reset_message"></div>
        </form>
    </div>

    <div class="ui mini modal" id="reset_notify">
        <div class="ui header">
            <i class="teal lock icon"></i>
            <div class="content"> 重置密码</div>
        </div>
        <div class="ui content">
            <P>重置密码邮件已经发送到您的电子邮箱。若未能找到对应邮件，请检查是否被归类到垃圾邮件。</P>
            <div class="ui fluid teal button" onclick="$('#reset_notify').modal('hide')">确定</div>
        </div>
    </div>

    <div class="ui mini modal" id="email_notify">
        <div class="ui header">
            <i class="teal add user icon"></i>
            <div class="content"> 注册账号 </div>
        </div>
        <div class="ui content">
            <P>验证邮件已经发送到您的电子邮箱。若未能找到对应邮件，请检查是否被归类到垃圾邮件。</P>
            <div class="ui fluid teal button" onclick="$('#email_notify').modal('hide')">确定</div>
        </div>
    </div>

</body>

</html>