<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blokus</title>
    <script src="static/jquery/jquery.min.js"></script>
    <script src='static/vue/vue.js'></script>
    <script src="static/vue/vue-component.js"></script>
    <link rel="stylesheet" type="text/css" href="static/semantic-ui/semantic.min.css">
    <script src="static/semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/base/base.css">
    <link rel="shortcut icon" href="static/favicon.ico">
    <script>
        $(document).ready(function() {
            $('.ui.sidebar') .sidebar('attach events', '.toc.item');
            $('.ui.modal').modal({
                duration: 300,
                transition: 'horizontal flip'
            })
        });
    </script>
</head>

<body>
<div class="ui vertical inverted sidebar menu">
    <a class="active item">主页</a>
    <a class="item">在线对局</a>
    <a class="item">玩家排名</a>
    <a class="item" onclick="$('#login').modal('show')">登录</a>
    <a class="item" onclick="$('#login').modal('show')">注册</a>
</div>

<div class="pusher">
    <div class="masthead segment background">
        <div class="ui vertical masthead aligned segment">
            <div class="ui container">
                <div class="ui large secondary tabular menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="active item" href="/">
                        <img class="logo" src="static/favicon.ico"></a>
                    <a class="item" href="/battles">在线对局</a>
                    <a class="item">玩家排名</a>
                    <div class="right item">
                        <a class="ui labeled icon teal button" href="javascript:void(0)" onclick="$('#login').modal('show')">
                            <i class="sign in icon"></i>
                            登录</a>
                        <a class="ui labeled icon teal button" href="javascript:void(0)" onclick="$('#regiester').modal('show')">
                            <i class="add user icon"></i>
                            注册</a>
                    </div>
                </div>
            </div>
            {% block head %}
            {% endblock %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <div class="ui vertical footer segment inverted ">
        <div class="ui container">
            <div class="ui stackable divided equal height stackable grid">
                <div class="five wide column">
                    <h4 class="ui header inverted">关于</h4>
                    <div class="ui list">
                        <a class="item link" href="https://github.com/QAsQ/Blokus">
                            <i class="github icon"></i> Github
                        </a>
                        <div class="item">Copyright © 2018 QAsQ</div>
                    </div>
                </div>
                <div class="five wide column">
                    <h4 class="ui inverted header">联系我们</h4>
                    <div class="ui list">
                        <div class="item"><i class="qq icon"></i> Blokus玩家群: 97257869</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui mini modal" id="login">
    <div class="ui header">
        <i class="teal sign in icon"></i>
        <div class="content"> 登录 Blokus </div>
    </div>
    <form class="ui middle form">
        <div class="ui segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="用户名 或 邮箱">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="密码">
                </div>
            </div>
            <div class="ui fluid large teal submit button">登录</div>
        </div>
        <div class="ui error message"></div>
    </form>
    <div class="ui message">
        还没有账号？<a href="javascript:void(0)" onclick="$('#regiester').modal('show')">点此注册</a>
    </div>
</div>

<div class="ui mini modal" id="regiester">
    <div class="ui header">
        <i class="teal add user icon"></i>
        <div class="content"> 注册账号 </div>
    </div>
    <form class="ui large form">
        <div class="ui segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="mail icon"></i>
                    <input type="text" name="email" placeholder="邮箱地址">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="用户名">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="密码">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="确认密码">
                </div>
            </div>
            <div class="ui fluid large teal submit button">注册</div>
        </div>
        <div class="ui error message"></div>
    </form>
    <div class="ui message">
        已有账号？<a href="javascript:void(0)" onclick="$('#login').modal('toggle')">点此登陆</a>
    </div>
</div>
</body>
</html>