<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blokus</title>
    <script src="static/jquery/jquery.min.js"></script>
    <script src="static/jquery/js.cookie.js"></script>
    <script src='static/vue/vue.js'></script>
    <script src="static/vue/vue-component.js"></script>
    <link rel="stylesheet" type="text/css" href="static/semantic-ui/semantic.min.css">
    <script src="static/semantic-ui/semantic.min.js"></script>
    <link rel="stylesheet" type="text/css" href="static/base/base.css">
    <link rel="shortcut icon" href="static/favicon.ico">
    <script>
        $(document).ready(function() {
            user_item = new Vue({
                el: "#user_item",
                data: {
                    user: {{ current_user.dump()|tojson|safe }}
                }
            });
            function Callback(form, url, modal, message, hit_message){
                return function(){
                    form.addClass("loading")
                    var res = false
                    
                    $.ajax({
                        type: "POST",
                        url:  url, 
                        data: JSON.stringify(form.form('get values')),
                        contentType: 'application/json; charset=UTF-8',
                        async: false,
                        success: function(data){
                            form.removeClass("loading")
                            if (data.message == "success"){
                                form.addClass("success")
                                user_item.user = data.result 
                                modal.modal('hide')
                                res = true
                                show_message(hit_message)
                            }
                            else{
                                form
                                    .removeClass("success")
                                    .addClass("error")
                                message.text(data.message)
                            }
                        },
                        error: function(data){
                            form
                                .removeClass("loading")
                                .removeClass("success")
                                .addClass("error")
                            message.text("请求失败")
                        }
                    })
                    return res
                }
            }
            $('.ui.sidebar') .sidebar('attach events', '.toc.item');
            $('.ui.modal').modal({
                duration: 300,
                transition: 'horizontal flip'
            })
            $('.ui.dropdown').dropdown({action: 'hide'})
            $.fn.form.settings.rules.not_used = function(value, type) {
                var data = {}
                data[type] = value
                var result = false
                $.ajax({
                    type: "get",
                    url:  "/api/users", 
                    data: {query: JSON.stringify(data)},
                    contentType: 'application/json; charset=UTF-8',
                    async: false,
                    success: function(data){
                        result = data.message == "success" 
                                 && data.result.length === 0
                    }                
                })
                return result
            }
            $('#login_form').form({
                fields: {
                    email : {
                        identifier: 'email',
                        rules: [
                            {type: 'empty', prompt: '邮箱不能为空'},
                            {type: 'email', prompt: '邮箱格式不正确'}
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {type: 'empty', prompt: '密码不能为空'}
                        ]
                    }  
                },
                onSuccess: Callback(
                    $("#login_form"),
                    "/api/users/online",
                    $('#login'),
                    $("#login_message"),
                    "登录成功"
                )
            })
            $('#regiester_form').form({
                fields: {
                    email: {
                        identifier: 'email',
                        rules: [
                            {type: 'empty', prompt: '邮箱不能为空'},
                            {type: 'email', prompt: '邮箱格式不正确'},
                            {type: 'not_used[email]', prompt: '该邮箱已被使用'}
                        ]
                    },
                    username: {
                        identifier: 'username',
                        rules: [
                            {type: 'empty', prompt: '用户名不能为空'},
                            {type: 'minLength[3]', prompt: '用户名长度要长于3个字符'},
                            {type: 'maxLength[15]', prompt: '用户名长度要短于15个字符'},
                            {type: 'not_used[username]', prompt: '该用户名已被使用'}
                        ]
                    },
                    password: {
                        identifier: 'password',
                        rules: [
                            {type: 'empty', prompt: '密码不能为空'},
                            {type: 'minLength[6]', prompt: '密码长度要长于6个字符'},
                            {type: 'maxLength[32]', prompt: '密码长度要短于32个字符'}
                        ]
                    },
                    confirm_password: {
                        identifier: 'confirm_password',
                        rules: [
                            {type: 'match[password]', prompt: '两次输入的密码不一致'}
                        ]
                    }
                },
                onSuccess: Callback(
                    $("#regiester_form"),
                    "/api/users",
                    $('#regiester'),
                    $("#regiester_message"),
                    "注册成功"
                )
            })
        });
        function check_login(){
            if (user_item.user.user_id === -1){
                $("#login_message").text("请先登录")
                $("#login_form").addClass("error")
                $('#login').modal("show")
                return false
            }
            return true
        }
    </script>
</head>

<body>
<div class="ui vertical inverted sidebar menu">
    <a class="active item">主页</a>
    <a class="item">在线对局</a>
    <a class="item">玩家排名</a>
    <a class="item" onclick="$('#login').modal('show')">登录</a>
    <a class="item" onclick="$('#regiester').modal('show')">注册</a>
</div>

<div class="pusher">
    <div class="masthead segment background">
        <div class="ui vertical masthead aligned segment">
            <div class="ui inline cookie nag" id='hit_nag'>
                <span class='title' id="hit_nag_message">
                </span>
                <i class="close icon"></i>
            </div>
            <div class="ui container">
                <div class="ui large secondary tabular menu">
                    <a class="toc item">
                        <i class="sidebar icon"></i>
                    </a>
                    <a class="active item" href="/">
                        <img class="logo" src="static/favicon.ico"></a>
                    <a class="item" href="/battles">在线对局</a>
                    <a class="item">玩家排名</a>
                    <div class="right item">
                        <user-item id="user_item" :user="user"></user-item>
                    </div>
                </div>
            </div>
            {% block head %}
            {% endblock %}
        </div>
    </div>
    {% block content %}
    {% endblock %}
    <div class="ui vertical footer segment inverted ">
        <div class="ui container">
            <div class="ui stackable divided equal height stackable grid">
                <div class="three wide column">
                    <h4 class="ui header inverted">Powered By</h4>
                    <div class="ui inverted list">
                        <a class="item link" href="https://semantic-ui.com/">
                            <i class="stripe s icon"></i>
                            Semantic UI</a>
                        <a class="item link" href="https://vuejs.org/">
                            <i class="vuejs icon"></i>
                            Vue</a>
                        <a class="item link" href="http://flask.pocoo.org/">
                            <i class="server icon"></i>
                            Flask</a>
                        <a class="item link" href="https://www.mongodb.com/">
                            <i class="database icon"></i>
                            MongoDB</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui header inverted">About</h4>
                    <div class="ui inverted list">
                        <a class="item link" href="https://github.com/QAsQ/Blokus">
                            <i class="github icon"></i> Github
                        </a>
                        <div class="item">© 2018 QAsQ</div>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header">Connect Us</h4>
                    <div class="ui list">
                        <div class="item"><i class="qq icon"></i> Blokus玩家群: 97257869</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="ui mini modal" id="login">
    <div class="ui header">
        <i class="teal sign in icon"></i>
        <div class="content"> 登录 Blokus </div>
    </div>
    <form class="ui form" id="login_form" action="javascript:void(0)">
        <div class="ui segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="mail icon"></i>
                    <input type="text" name="email" placeholder="邮箱">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="密码">
                </div>
            </div>
            <div class="ui fluid large teal submit button">登录</div>
        </div>
        <div class="ui error message" id='login_message'></div>
    </form>
    <div class="ui message">
        还没有账号？<a href="javascript:void(0)" onclick="$('#regiester').modal('show')">点此注册</a>
    </div>
</div>

<div class="ui mini modal" id="regiester">
    <div class="ui header">
        <i class="teal add user icon"></i>
        <div class="content"> 注册账号 </div>
    </div>
    <form class="ui form" id='regiester_form' action="javascript:void(0)">
        <div class="ui segment">
            <div class="field">
                <div class="ui left icon input">
                    <i class="mail icon"></i>
                    <input type="text" name="email" placeholder="邮箱">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="user icon"></i>
                    <input type="text" name="username" placeholder="用户名">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="password" placeholder="密码">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon input">
                    <i class="lock icon"></i>
                    <input type="password" name="confirm_password" placeholder="确认密码">
                </div>
            </div>
            <div class="ui fluid large teal submit button">注册</div>
        </div>
        <div class="ui error message" id="regiester_message"></div>
    </form>
    <div class="ui message">
        已有账号？<a href="javascript:void(0)" onclick="$('#login').modal('toggle')">点此登陆</a>
    </div>
</div>
</body>
</html>