{% extends "base.html" %}

{% block head %}
<script>
    $(document)
        .ready(function() {
            function gen_data(){
                var ret = [];
                for (var i = 0; i < 20; i++)
                    ret.push(data_gen())
                return ret
            }

            new Vue({
                el: "#battle_list",
                data:{
                    battles_data: gen_data()
                }
            });

            new Vue({
                el: "#timer_type_selector",
            });

            $('.ui.dropdown').dropdown();
            $('[name="head"]').popup({inline:true});
            $('[name="content"]').popup({inline: true});
            $('.ui.sticky').sticky({
                    offset: 50,
                    context: '#battle_list'}
            );
        }
    );
</script>
<div class="ui divider"></div>
<div class="ui stackable grid two column container">
    <div class="ui column">
        <div class="ui sticky">
            <div class="ui two column grid">
                <div class="column">
                    <h1><i class="sort ascending icon"></i> 排序</h1>
                </div>
                <div class="column">
                    <h1><i class="filter icon"></i> 筛选</h1>
                    <h2>根据对局状态</h2>
                    <div class="ui middle header">
                        <div class="ui big toggle checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                        <div class="ui basic tag label">未开始</div>
                    </div>
                    <div class="ui middle header">
                        <div class="ui big toggle checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                        <div class="ui basic tag label">进行中</div>
                    </div>
                    <div class="ui middle header">
                        <div class="ui big toggle checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                        <div class="ui basic tag label">已完成</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="column">
    <battle-list id="battle_list" :battles_data="battles_data" :show_create="true"></battle-list>
</div>
{% endblock %}

{% block content %}
<div class="ui modal" id="create">
    <div class="header">
        创建对局
    </div>
    <div class="content">
    <div class="ui two column grid">
        <div class="ui six width column">
            <div class="ui big form">
                <div class="two fields">
                    <div class="field">
                        <div class="ui vertical segment">
                            <label>对局名称</label>
                            <input type="text" placeholder="名称长度小于6">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui vertical segment">
                            <label>对局类型</label>
                            <div class="ui basic inline dropdown fluid button">
                                <div class="text">标准</div>
                                <i class="dropdown icon"></i>
                                <div class="menu">
                                    <div class="active item" data-text="标准">标准</div>
                                    <div class="disabled item" data-text="双人">双人</div>
                                    <div class="disabled item" data-text="三人">三人</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui divider"></div>
                <div class="ui vertical segment">
                    <div class="field">
                        <label>计时类型</label>
                        <div class="ui basic inline dropdown fluid button">
                            <div class="text">标准</div>
                            <i class="dropdown icon"></i>
                            <div class="menu">
                                <div class="active item" data-text="标准">标准</div>
                                <div class="item" data-text="快速">快速</div>
                                <div class="item" data-text="自定义">自定义</div>
                            </div>
                        </div>
                    </div>
                    <div class="two fields">
                        <div class="field">
                            <label>计时</label>
                            <div class="ui right labeled input">
                                <input type="text">
                                <a class="ui basic label">秒</a>
                            </div>
                        </div>
                        <div class="field">
                            <label>额外</label>
                            <div class="ui right labeled input">
                                <input type="text">
                                <a class="ui basic label">秒/步</a>
                            </div>
                        </div>
                    </div>
                    <h4>预计游戏时间: 45分钟</h4>
                </div>
            </div>
        </div>
        <div class="ui column">
            <img class="ui middle image" src="static/common/images/standard.png">
        </div>
    </div>

    </div>

    <div class="actions">
        <div class="ui grey deny button">
            取消
        </div>
        <div class="ui teal right labeled icon button">
            确认创建
            <i class="plus icon"></i>
        </div>
    </div>
</div>
{% endblock %}