{% extends "Base.html" %}

{% block head %}
<script>
    next_start = 0;
    $(window).bind('scroll', function () {
        var bottom = $(window).scrollTop() + $(window).height()
        var len = $("#gtmdqaq").offset().top
        if (next_start != -1 && bottom >= len - 61 * 5) {
            load_battles(flush=false, start=next_start)
        }
    })
    function load_battles(flush = true, start = 0, limit = 30){
        next_start = -1
        battle_list.ended = false
        var res = ""
        $.ajax({
            type: "GET",
            url: "/api/battles",
            async: false,
            contentType: "applicaton/json",
            data: {
                sort: JSON.stringify(battle_condition.condition.sort),
                query: JSON.stringify(battle_condition.condition.query),
                start: JSON.stringify({"start": start}),
                limit: JSON.stringify({"limit": limit})
            },
            error: function(){
                show_message("网络连接超时")
                next_start = start
            }, 
            success: function(data){
                res = data.message
                if (data.message != 'success'){
                }
                else {
                    if (flush) {
                        battle_list.battles_data = data.result.battle_list
                        if (limit != data.result.length)
                            battle_list.ended = true
                    }
                    else {
                        if (data.result.start == battle_list.battles_data.length) {
                            battle_list.battles_data = battle_list.battles_data.concat(data.result.battle_list)
                        }
                        else {
                            battle_list.ended = true
                            next_start = -1
                            // console.log("error, battles start does't match")
                            return
                        }
                    }
                    next_start = data.result.start + limit
                }
            }
        });
        return res;
    }
    function try_create(){
        if (check_login())
            $('#create_modal').modal('show')
    }
    $(document)
        .ready(function() {
            battle_list = new Vue({
                el: "#battle_list",
                data:{
                    battles_data: null,
                    ended: false
                }
            });
            battle_condition = new Vue({
                el: "#battle_condition",
                data:{
                    condition: user_item.user.user_info.perference.condition
                }
            })
            load_battles()

            var battle_creater = new Vue({
                el: "#battle_creater",
                data: {
                    parameter: user_item.user.user_info.perference.create,
                    timer_scheme: [
                        {
                            identity: "standard",
                            name:"标准",
                            accuracy_time: 180,
                            additional_time: 15
                        },
                        {
                            identity: "fast",
                            name:"快速",
                            accuracy_time: 60,
                            additional_time: 15
                        }
                    ]
                }
            })

            $(".ui.checkbox").checkbox()
        }
    );
</script>
<style>
    .ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
        background-color: #00b5ad!important;
    }
    .ui.toggle.checkbox input:checked~label:before {
        background-color: #00b5ad!important;
    }
    .ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
        background-color: #00b5ad!important;
    }
</style>
<div class="ui divider"></div>
<div class="ui stackable grid two column container">
    <div class="ui column">
        <div class="ui sticky">
            <battle-condition :condition="condition" id='battle_condition'></battle-condition>
        </div>
    </div>
    <div class="column">
        <div class="ui fluid buttons">
            <div class="ui teal button" onclick="try_create()">
                <i class="plus icon"></i> 新建 
            </div>
            <div class="ui button" onclick="load_battles()">
                <i class="sync alternate icon"></i> 刷新
            </div>
        </div>
        <battle-list id="battle_list" :battles_data="battles_data" :ended="ended" :show_create="false"></battle-list>
        <div id="gtmdqaq"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="ui modal" id="create_modal">
    <div class="header">
        创建对局
    </div>
    <div class="content">
        <battle-creater 
            id='battle_creater'
            :parameter='parameter'
            :timer_scheme='timer_scheme'>
        </battle-creater>
    </div>

    <div class="actions">
        <div class="ui grey deny button">
            取消
        </div>
        <div class="ui teal right labeled icon button" onclick="$('#create_form').form('validate form')">
            确认创建
            <i class="plus icon"></i>
        </div>
    </div>
</div>
{% endblock %}