{% extends "base.html" %}

{% block head %}
<script>
    $(document)
        .ready(function() {
            function gen_data(){
                var ret = [];
                for (var i = 0; i < 20; i++)
                    ret.push(data_gen())
                return ret
            }

            new Vue({
                el: "#battle_list",
                data:{
                    battles_data: gen_data()
                }
            });

            $('.ui.dropdown').dropdown();
            $('.image').popup({inline:true});
            $('.header').popup({inline: true});
            $('.ui.sticky').sticky({
                    offset: 50,
                    context: '#battle_list'}
            );
        }
    );
</script>
<div class="ui stackable grid two column container">
    <div class="ui column">
        <div class="ui sticky">
            <div class="ui two column grid">
                <div class="column">
                    <h1><i class="sort ascending icon"></i> 排序</h1>
                </div>
                <div class="column">
                    <h1><i class="filter icon"></i> 筛选</h1>
                    <h2>根据对局状态</h2>
                    <div class="ui middle header">
                        <div class="ui big toggle checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                        <div class="ui basic tag label">未开始</div>
                    </div>
                    <div class="ui middle header">
                        <div class="ui big toggle checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                        <div class="ui basic tag label">进行中</div>
                    </div>
                    <div class="ui middle header">
                        <div class="ui big toggle checkbox">
                            <input type="checkbox"> <label></label>
                        </div>
                        <div class="ui basic tag label">已完成</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="column">
    <battle-list id="battle_list" :battles_data="battles_data" :show_create="true"></battle-list>
</div>
{% endblock %}

{% block content %}
<div class="ui small modal" id="create">
    <div class="header">
        创建对局
    </div>
    <div class="image content">
        <div class="ui image">
            <img src="standard.png">
        </div>
        <div class="ui description container">
            <div class="ui labeled input">
                <div class="ui basic label">对局名称</div>
                <input type="text" placeholder="长度小于6个字符">
            </div>
            <div class="ui divider"> </div>
            <div class="ui left labeled button">
                <div class="ui basic label">
                    对局类型
                </div>
                <div class="ui basic inline dropdown button">
                    <div class="text">标准</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="active item" data-text="标准">标准</div>
                        <div class="disabled item" data-text="双人">双人</div>
                        <div class="disabled item" data-text="三人">三人</div>
                    </div>
                </div>
            </div>
            <div class="ui  divider"> </div>
            <div class="ui left labeled button">
                <div class="ui basic label">
                    计时类型
                </div>
                <div class="ui basic inline dropdown button">
                    <div class="text">标准</div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="active item" data-text="标准">标准</div>
                        <div class="item" data-text="快速">快速</div>
                        <div class="item" data-text="自定义">自定义</div>
                    </div>
                </div>
            </div>
            <div class="ui hidden divider"></div>
            <div class="fluid ui left right labeled padded input">
                <input type="text">
                <a class="ui basic label">秒</a>
            </div>
            <div class="fluid ui left right labeled input">
                <a class="ui basic label">额外时间</a>
                <input type="text">
                <a class="ui basic label">秒/步</a>
            </div>
            <div class="ui header">预计游戏时间: 45分钟</div>
        </div>
    </div>

    <div class="actions">
        <div class="ui grey deny button">
            取消
        </div>
        <div class="ui teal right labeled icon button">
            确认创建
            <i class="plus icon"></i>
        </div>
    </div>
</div>
{% endblock %}