{% extends "base.html" %}
{% block head %}
<script src="static/pixi/pixi.min.js"></script>
<script src="static/pixi/pixi-particles.min.js"></script>
<script src="static/pixi/pixi-layers.js"></script>
<script src="static/play_board/board.js"></script>
<script src="static/play_board/data.js"></script>
<script>

$(document).ready(function() {
    $.get("/api/boards/square_standard")
    .then(function(board_data){

        board_data = board_data.result
        battle_data = {{ battle|tojson|safe }};

        battle_inferface = new Vue({
            el: "#battle_inferface",
            data: {
                board_data: board_data,
                battle_data: battle_data,
                user_info: user_item.user,
                board: null
            }
        });

        $('#battle_progress').progress();
    });

    window.setInterval(
        function (){
            $.ajax({
                type: "GET",
                url: "/api/battles/" + battle_inferface.battle_data.battle_id,
                contentType: "applicaton/json",
                timeout: 1000,
                error: function (xhr, textStatus){
                    if (textStatus == 'timeout'){
                        console.log("TIME OUT");
                    }
                    else{
                        console.log(textStatus);
                    }
                }, 
                success: function(data){
                    battle_data = data.result
                    battle_inferface.battle_data = battle_data
                }
            });
        }, 
        1000
    )
});
</script>
<div class="ui hidden divider"></div>
<battle-interface
        id="battle_inferface"
        :battle_data="battle_data"
        :board_data="board_data"
        :user_info="user_info">
</battle-interface>
{% endblock %}