<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="{{ url_for('static',_external=True,filename='pixi.min.js') }}"></script>
    <script src="{{ url_for('static',_external=True,filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static',_external=True,filename='piece.js') }}"></script>
    <script src="{{ url_for('static',_external=True,filename='data.js') }}"></script>
    <script src="{{ url_for('static',_external=True,filename='board.js') }}"> </script>
</head>
<body>
    <script> gPlayerId={{id}} </script>
    <script src="{{ url_for('static',_external=True,filename='main.js') }}"> </script>
</body>
</html>