<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <script src="{{ url_for('static',_external=True,filename='js/pixi.min.js') }}"></script>
    <script src="{{ url_for('static',_external=True,filename='js/pixi-layers.js') }}"> </script>
    <script src="{{ url_for('static',_external=True,filename='js/pixi-particles.min.js') }}"></script>
    <script src="{{ url_for('static',_external=True,filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',_external=True,filename='js/data.js') }}"></script>
    <script src="{{ url_for('static',_external=True,filename='js/board.js') }}"> </script>
</head>
<body>
    <script> gPlayerId={{id}}</script>
    <script src="{{ url_for('static',_external=True,filename='js/main.js') }}"> </script>
</body>
</html>