{% extends "base.html" %}

{% block head %}
<script>
    $(document).ready(function() {
        token="{{token}}"
        user_id = "{{user_id}}"
        $('#resetter_form').form({
            fields: {
                new_password: {
                    identifier: 'new_password',
                    rules: [
                        {type: 'empty', prompt: '密码不能为空'},
                        {type: 'minLength[6]', prompt: '密码长度要长于6个字符'},
                        {type: 'maxLength[32]', prompt: '密码长度要短于32个字符'}
                    ]
                },
                confirm_password: {
                    identifier: 'confirm_password',
                    rules: [
                        {type: 'empty', prompt: '确认密码不能为空'},
                        {type: 'match[new_password]', prompt: '两次输入的密码不一致'}
                    ]
                }
            },
            onSuccess: Callback(
                "/api/users/" + user_id + "/email_password_resetter",
                "PUT",
                $("#resetter_form"),
                $("#resetter_message"),
                function(data){
                    window.location.href="/battles"
                }
            )
        })
    });
</script>
<style>
.column { max-width: 450px; }
</style>


<div class="ui hidden divider"></div>
<div class="ui middle aligned center aligned grid">
    <h2 class="ui image header">
        <img class="ui small image" src="static/favicon.ico">
        重置密码
    </h2>
    <div class="row">
        <div class="ui column segment">
            <form class="ui large form" id='resetter_form' action="javascript:void(0)">
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="new_password" placeholder="密码">
                    </div>
                </div>
                <div class="field">
                    <div class="ui left icon input">
                        <i class="lock icon"></i>
                        <input type="password" name="confirm_password" placeholder="确认密码">
                    </div>
                </div>
                <div class="ui fluid black submit button">重置密码</div>
                <div class="ui error message" id="resetter_message"></div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% endblock %}